<!DOCTYPE html>
<html lang=”en” xmlns:th=”http://www.thymeleaf.org”> <!-- edited in -->

<head>
    <meta charset="UTF-8"/> <!-- edited in -->


    <title></title>

</head>
<body>

<!--<p th:text="$myvar1"></p>-->
<!-- <p th:text="$myvar2"></p>-->

<h1 th:text="${myvar1}"></h1>   <!-- message properties file not created -->
 <h2 th:text="${myvar2}"></h2>  <!-- message properties file not created -->



</body>

<!--static.message=Hello world!-->   <!-- comment: this should be in messages.properties file -->
<!-- static.message=Here I come!-->   <!-- comment: this should be in messages.properties file -->

</html>